.list-item__wrapper {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  margin-bottom: 2px;
}

.list-item__wrapper td {
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
}

.list-item__wrapper td:last-child {
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
}
