.container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url("../images/tile.png");
  background-repeat: repeat;
}

.form-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  margin-top: 15px;
  font-size: 25px;
}

.list-wrapper {
  width: 1000px;
  margin-bottom: 50px;
}

.to-print-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-print-wrapper > div {
  background-color: white;
}
